{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<body style = "background-color: #2d283e;">
    <h1 style = color:white align ="center">New to lifting? You're in good hands</h1>
    <h2 style = color:white align ="center">This beginner plan focuses on full body workouts over the course of the week</h2>
    <h2 style = color:white align ="center">With an emphasis on push on Monday, pull on Wednesday, and legs Friday</h2>

</div>
<div style="width: 100%;">
    <div style="width: 33.33333333%; height: 300px; float: left; background: white;"> 
        Monday
        <ul>
            <li>Machine Chest Press: 
                [3 sets: 10-12 reps]</li>
            <li>Machine seated Shoulder Press: 
                [3 sets: 10-12 reps]</li>
            <li>Tricep Pulldowns:
                [3 sets: 10-12 reps]</li>
            <li>Dumbbell Row: 
                [3 sets: 10-12 reps]</li>
            <li>Dumbbell Chest Press: 
                [3 sets: 10-12 reps]</li>
            <li>Dumbbell Bicep Curls:
                [3 sets: 10-12 reps]</li>
            
          </ul>
    </div>
    <div style="width: 33.33333333%; height: 300px; float: left; background: white;"> 
        Wednesday
        <ul>
            <li>Lat Pulldowns: 
                [3 sets: 10-12 reps]</li>
            <li>Cable Horiztal Row: 
                [3 sets: 10-12 reps]</li>
            <li>Machine Preacher Curl:
                [3 sets: 10-12 reps]</li>
            <li>Quad Extensions: 
                [3 sets: 10-12 reps]</li>
            <li>Dumbbell Walking Lunges: 
                [3 sets: 10-12 reps]</li>
            <li>Dumbbell Hammer Curls:
                [3 sets: 10-12 reps]</li>
          </ul>
    </div>
    <div style="width: 33.33333333%; height:   300px; float:right; background: white;"> 
        Friday
        <ul>
            <li>Machine Leg Press: 
                [3 sets: 10-12 reps]</li>
            <li>Dumbbell Calve Raises: 
                [3 sets: 10-12 reps]</li>
            <li>Machine Leg Curls:
                [3 sets: 10-12 reps]</li>
            <li>Dumbbell Lateral Raises: 
                [3 sets: 10-12 reps]</li>
            <li>Tricep SkullCrushers: 
                [3 sets: 10-12 reps]</li>
          </ul>
    </div>
</div>
<style>
    .btn {
        background-color: white;
        border: 2px solid black;
        color: green;
        padding: 5px 10px;
        text-align: center;
        display: inline-block;
        font-size: 20px;
        margin: 10px 30px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
</style>
<div style="text-align:center;">
    <a href='/workoutAtGym'>
        <button class="btn">
            Go Back To Home
        </button>
    </a>

</body>
{% endblock %}
</html>
