{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<body style = "background-color: #2d283e;">
    <h1 style = color:white align ="center">Have some lifting experience? Take your workouts to the next level</h1>
    <h2 style = color:white align ="center">This Intermediate plan focuses on full body workouts over the course of the week</h2>
    <h2 style = color:white align ="center">With an emphasis on both weigh movements and calisthenics</h2>

</div>
<div style="width: 100%;">
    <div style="width: 33.33333333%; height: 200px; float: left; background: white;"> 
        Monday: Push
        <ul>
            <li>Barbell Bench Press:
                [3 sets: Various reps]</li>
            <li>Incline Smith Machine Press: 
                [3 sets: Various reps]</li>
            <li>Hi/Low & Low/Hi Chest Flies:
                [3 sets: 10-12 reps]</li>
            <li>Tricep Pushdowns: 
                [3 sets: 10-12 reps]</li>
            <li>Dumbbell SkullCrushers: 
                [3 sets: 10-12 reps]</li>
            <li>Barbell Military Press:
                [3 sets: Various reps]</li>
            <li>Barbell Military Press:
                [3 sets: Various reps]</li>
            
          </ul>
    </div>
    <div style="width: 33.33333333%; height: 200px; float: left; background: white;"> 
        Tuesday: Pull
        <ul>
            <li>Lat Pulldowns: 
                [3 sets: 10-12 reps]</li>
            <li>Cable Horiztal Row: 
                [3 sets: 10-12 reps]</li>
            <li>Barbell :
                [3 sets: 10-12 reps]</li>
            <li>Quad Extensions: 
                [3 sets: 10-12 reps]</li>
            <li>Dumbbell Walking Lunges: 
                [3 sets: 10-12 reps]</li>
            <li>Dumbbell Hammer Curls:
                [3 sets: 10-12 reps]</li>
          </ul>
    </div>
    <div style="width: 33.33333333%; height:   200px; float:right; background: white;"> 
        Wednesday: Legs
        <ul>
            <li>Machine Leg Press: 
                [3 sets: 10-12 reps]</li>
            <li>Dumbbell Calve Raises: 
                [3 sets: 10-12 reps]</li>
            <li>Machine Leg Curls:
                [3 sets: 10-12 reps]</li>
            <li>Dumbbell Lateral Raises: 
                [3 sets: 10-12 reps]</li>
            <li>Tricep SkullCrushers: 
                [3 sets: 10-12 reps]</li>
          </ul>
    </div>
</div>
<div style="width: 100%;">
    <div style="width: 33.333333%; height: 200px; float: left; background: white;"> 
        Thursday
        <ul>
            <li>
                Off day
            </li>
            <li>
                Refuel and replenish your body 
            </li>
        </ul>

    </div>
    <div style="width: 33.333333%; height: 200px; float: left; background: white;"> 
        Friday: Full Body Calisthenics
        <ul>
            <li>
                Pushups:
                [3 sets: To Failure]
            </li>
            <li>
                Pullups:
                [3 sets: To Failure]
            </li>
            <li>
                Chest Dips:
                [3 sets: To Failure]
            </li>
            <li>
                BodyWeight Squats:
                [3 sets: To Failure]
            </li>
            <li>
                 Crunches:
                [3 sets: To Failure]
            </li>
        </ul>
    
    </div>
    <div style="width: 33.333333%; height: 200px; float: right; background: white;"> 
        Saturday: Full Body
        <ul>
            <li>
                Dumbbell Bench Press:
                [3 sets: 10-12 Reps]
            </li>
            <li>Barbell Row: 
                [3 sets: 10-12 reps]</li>
            <li>Dumbbell Shoulder Press: 
                [3 sets: 10-12 reps]</li>
            <li>Machine Leg Press: 
                [3 sets: 10-12 reps]</li>
            <li>Incline Machine Chest Press: 
                [3 sets: 10-12 reps]</li>
            <li>Lat Pulldowns: 
                [3 sets: 10-12 reps]</li>
            <li>Bulgarian Split Squat: 
                [3 sets: 10-12 reps]</li>
        </ul>

    
    </div>

</div>
<style>
    .btn {
        background-color: white;
        border: 2px solid black;
        color: green;
        padding: 5px 10px;
        text-align: center;
        display: inline-block;
        font-size: 20px;
        margin: 10px 30px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
</style>
<div style="text-align:center;">
    <a href='/workoutAtGym'>
        <button class="btn">
            Go Back To Home
        </button>
    </a>


</body>
</body>
{% endblock %}
</html>